@font-face {
    font-family: 'Amellia Bellania';
    src: url('AmelliaBellaniaRegular.woff2') format('woff2'),
        url('AmelliaBellaniaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

